/* src/index.css */

/* Eliminamos los márgenes por defecto del navegador */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #151515; /* El fondo oscuro de tu agencia */
  color: white; /* Texto blanco por defecto en toda la app */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden; /* Evita scrolls horizontales accidentales */
}

/* Aseguramos que el contenedor de React ocupe todo el alto */
#root {
  min-height: 100vh;
}